<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136263415158-tgv0nb9tpuodadvcphfrof4n7i3dq7cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136263415158-tgv0nb9tpuodadvcphfrof4n7i3dq7cc</string>
	<key>API_KEY</key>
	<string>AIzaSyB9yHmSABS9LH_VWrfuNRl3T13MiHHALHM</string>
	<key>GCM_SENDER_ID</key>
	<string>136263415158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groceryshop.user</string>
	<key>PROJECT_ID</key>
	<string>e-grocery-2d0f1</string>
	<key>STORAGE_BUCKET</key>
	<string>e-grocery-2d0f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136263415158:ios:f2a2bcc2d9518388187657</string>
</dict>
</plist>